<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <!-- <link rel="stylesheet" href="style.css"> -->

    <title>Dashboard</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a class="brand" routerLink="/dashboard">
            <img src="/src/assets/img/Logo1.png" alt="" height="80px" class="m-0 m-auto ">
        </a>
        <hr class="border">
        <ul class="side-menu top">
        
            <li class="active">
                <a>
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Liste des patientes</span>
                </a>
            </li>
        
            <li>
                <a>
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Ressources</span>
                </a>
            </li>
            
            <li >
                <a>
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Gestion des contenues</span>
                </a>
            </li>
            
            <li>
                <a>
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Ajout personnel</span>
                </a>
            </li>
            
        </ul>
        <ul class="side-menu">
            <li>

            </li>
            <li>
                <a class="logout" routerLink="/login">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text" (click)="logout()">Se deconnecter</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav class="d-flex justify-content-between">
            <div class="navDash">
                <i class='bx bx-menu'></i>
                <a href="#" class="nav-link">Bienvenue Admin</a>
            </div>
            <div class="navDash">
                <input type="checkbox" id="switch-mode" hidden>
                <label for="switch-mode" class="switch-mode"></label>
                <a class="notification">
                    <i class='bx bxs-bell' style="color: #595758;"></i>
                    <span class="num" style="color: #E75761;">8</span>
                </a>
                
                <a class="profile">
                
                </a>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main class="">
            
            <div class="dashDefault" id="dashDefault"  *ngIf="currentContent === 'dashDefault'">
                <h1 class="titreDash text-center fw-bold fs-2 mb-4">Dashboard</h1>
                
                <div class="cartes mb-5">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="card  text-center py-3">
                                <h2 class="fw-bold">Bailleurs</h2>
                                <span>15</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card text-center py-3">
                                <h2 class="fw-bold">Porteurs de projets</h2>
                                <span>25</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card text-center py-3">
                                <h2 class="fw-bold">Catégories projet</h2>
                                <span>06</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content">
                    <div class="row">
                        <div class="col-12 col-md-6">
                           <div class="card p-2 shadow">
                            <h3 class="titreDash text-center fw-bold fs-5 mb-2">liste des abonnées à la newsletter</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ligne-table">
                                        <td class="tableInfo">markotto@gmail.com</td>
                                        <td class="d-flex tablebtn border-0">
                                        </td>
                                    </tr>
                                    <tr class="ligne-table">
                                        <td class="tableInfo">markotto@gmail.com</td>
                                        <td class="d-flex tablebtn border-0">
                                        </td>
                                    </tr>
                                    <tr class="ligne-table">
                                        <td class="tableInfo">markotto@gmail.com</td>
                                        <td class="d-flex tablebtn border-0">
                                        </td>
                                    </tr>
                                    <tr class="ligne-table">
                                        <td class="tableInfo">markotto@gmail.com</td>
                                        <td class="d-flex tablebtn border-0">
                                        </td>
                                    </tr>
                                   
                                    <button class="btn btnVoiTout mb-0 mt-3">
                                        Voir tout
                                    </button>
                                </tbody>
                            </table>
                           </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card dashImg p-2 shadow">
                                <img src="../../../assets/images/logo-ci-la-bokk.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>



        </main>
        
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../../../assets/js/script.js"></script>
    <script src="../../../assets/js/checked.js"></script>
</body>

</html>