<!-- sidebar debut -->


<div class="sidebar">
  <div class="sidebar-brand">
    <img src="../../../assets/img/Logo2.png" alt="">
  </div>

  <div class="sidebar-menu">
    <!-- <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div> -->

    <ul>
      <li>
          <a  class="switch" [routerLink]="['/gestionRVPS']" >
            <span class="fas fa-users" ></span>
            <span>Gestion RV</span>
          </a>
        </li>
      <li>
        <a class="active"  >
          <span class="fas fa-tachometer-alt"></span>
          <span>Gestion Patientes</span>
        </a>
      </li>
      <li>
        <a class="switch" [routerLink]="['/ressourcesPS']">
          <span class="fas fa-book-reader"></span>
          <span>Ressources</span>
        </a>
      </li>
      <div class="logout mt-5">
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Deconnexion
      </a>
      </div>

    </ul>

  </div>
</div>

<!-- sidebar Fin -->

  <!-- contenuDash debut -->

  <div class="main-content">
    <header class="headDash">
      <!-- <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2> -->

      <!-- <div class="search-wrapper">
        <span class="fas fa-search"> </span>
        <input type="search" placeholder="Search..." />

      </div> -->
      <div class="fa-bell">
        <i class="fa-solid fa-bell"></i>
      </div>

      <div class="user-wrapper">
       <img src="/src/assets/imgs/customer01.jpg" width="40px" height="40px" alt="profile-img">
       <div class="">
          <h5>Admin</h5>
       </div>
      </div>
    </header>

    <main>

      <div class="recent-grid">
        <div class="col-lg-12">
          <div class="card table">
            <div class="card-header">
              <h4>Liste Patientes</h4>
            </div>
            <!-- tableau liste patientes debut -->

            <!--tableau liste  patientes fin  -->
            <!-- tableau datatable debut -->
          <!--button formulaire-->
          <button type="button" class="btn btn-primary m-3 text-white fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Ajouter Patientes</button>
          <!-- listes des patientes debut-->
  <table datatable [dtOptions]="dtOptions" class="row-border hover table" id="DataTabl" *ngIf="dossierMedicals.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age</th>
        <th>Telephone</th>
        <th>Methode</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dossier of dossierMedicals">
        <td>{{dossier.dossier_medical.id}} </td>
        <td>{{dossier.dossier_medical.nom}}</td>
        <td>{{dossier.dossier_medical.prenom}}</td>
        <td>{{dossier.dossier_medical.age}}</td>
        <td>{{dossier.dossier_medical.telephone}}</td>
        <td>{{dossier.dossier_medical.methode_choisie}}</td>
        <td>{{dossier.dossier_medical.adresse}}</td>
        <td>
          <i class="far fa-eye"></i> &nbsp; &nbsp;
          <i class="fas fa-pencil-alt"></i>&nbsp; &nbsp;
          <i class="fas fa-trash-alt"></i>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- listes des patientes  fin-->
            <!-- tableau datatable fin -->
          </div>

        </div>

              </div>


      </main>
    </div>
  <!-- contenuDash FIN -->






<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout Patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="ajoutPatient">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">numero identification</label>
            <input type="text" class="form-control" id="recipient-name" name="numero_Identification" [(ngModel)]="numero_Identification">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">nom</label>
            <input type="text" class="form-control" id="recipient-name" name="nom" [(ngModel)]="nom">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">prenom</label>
            <input type="text" class="form-control" id="recipient-name" name="prenom" [(ngModel)]="prenom">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">email</label>
            <input type="email" class="form-control" id="recipient-name" name="email" [(ngModel)]="email">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">telephone</label>
            <input type="text" class="form-control" id="recipient-name" name="telephone" [(ngModel)]="telephone">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">statut</label>
            <input type="text" class="form-control" id="recipient-name" name="statut" [(ngModel)]="statut">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">age</label>
            <input type="text" class="form-control" id="recipient-name" name="age" [(ngModel)]="age">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">adresse</label>
            <input type="text" class="form-control" id="recipient-name" name="adresse" [(ngModel)]="adresse">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">poste avortement</label>
            <select class="form-select form-select-sm" aria-label="Small select example" name="poste_avortement" [(ngModel)]="poste_avortement">
              <option selected></option>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">poste partum</label>
            <select class="form-select form-select-sm" aria-label="Small select example" name="poste_partum" [(ngModel)]="poste_partum">
              <option selected></option>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button">Methode en cours</button>
            <select class="form-select text-dark" id="inputGroupSelect03" placeholder="methode choisie" aria-label="Example select with button addon" name="methode_en_cours" [(ngModel)]="methode_en_cours">
              <!-- <option selected>Methode choisie</option> -->
              <option value="pilule">Pillule</option>
              <option value="dui">Dui</option>
              <option value="cu">Contraceptive d'urgent</option>
              <option value="injection">Injection</option>
              <option value="implant">Implant</option>
              <option value="anneau_vaginal_a_progestrone">Anneau-Vaginal</option>
              <option value="codom">Condom</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button">Methode Choisie</button>
            <select class="form-select" id="inputGroupSelect03" placeholder="methode choisie" aria-label="Example select with button addon" name="methode_choisie" [(ngModel)]="methode_choisie">
              <!-- <option selected>Methode choisie</option> -->
              <option value="pilule">Pillule</option>
              <option value="dui">Dui</option>
              <option value="cu">Contraceptive d'urgent</option>
              <option value="injection">Injection</option>
              <option value="implant">Implant</option>
              <option value="anneau_vaginal_a_progestrone">Anneau-Vaginal</option>
              <option value="codom">Condom</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">raison de la visite</label>
            <textarea class="form-control" id="message-text" name="raison_de_la_visite" [(ngModel)]="raison_de_la_visite"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">effets indesirables complications</label>
            <textarea class="form-control" id="message-text" name="effets_indesirables_complications" [(ngModel)]="effets_indesirables_complications"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">date visite</label>
            <input id="date" type="date" value="2017-06-01" class="form-control" name="date_visite" [(ngModel)]="date_visite"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label ">date prochain rv</label>
            <input  class=" text-primary" id="date" type="date" value="2017-06-01"  class="form-control" name="date_prochain_rv" [(ngModel)]="date_prochain_rv"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">indication</label>
            <textarea class="form-control" id="message-text" name="indication" [(ngModel)]="indication"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="AjoutPatient()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
