<!-- sidebar debut -->


<div class="sidebar">
  <div class="sidebar-brand">
    <img src="../../../assets/img/Logo2.png" alt="">
  </div>

  <div class="sidebar-menu">
    <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>

    <ul>
      <li>
        <a class="switch" [routerLink]="['/dashboard']">
          <span class="fas fa-tachometer-alt"></span>
          <span>Tableau de board</span>
        </a>
      </li>
      <li>
        <a class="switch" [routerLink]="['/listepatientesAdmin']">
          <span class="fas fa-users"></span>
          <span>Listes patientes</span>
        </a>
      </li>
      <!-- <li>
          <a  class="active">
            <span class="fas fa-book-reader"  [routerLink]="['/gestionContenuAdmin']"></span>
            <span>Ressources</span>
          </a>
        </li> -->
      <li>
        <a class="active">
          <span><i class="fas fa-comments"></i></span>
          <span>Gestion Contenu</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/ajoutPersoAdmin']">
          <span><i class="fas fa-user-plus"></i></span>
          <span>Gestion Personnel</span>
        </a>
      </li>
      <div class="logout mt-5">
        <a type="button" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Deconnexion
        </a>
      </div>

    </ul>

  </div>
</div>

<!-- sidebar Fin -->

<!-- contenuDash debut -->

<div class="main-content">
  <header class="headDash">
    <!-- <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2> -->

    <!-- <div class="search-wrapper">
        <span class="fas fa-search"> </span>
        <input type="search" placeholder="Search..." />

      </div> -->
    <div class="fa-bell">
      <i class="fa-solid fa-bell"></i>
    </div>
<!--
    <div class="user-wrapper">
      <img src="/src/assets/imgs/customer01.jpg" width="40px" height="40px" alt="profile-img">
      <div class="">
        <h5>Admin</h5>
      </div>
    </div> -->
  </header>

  <main>
    <div class="recent-grid">
      <div class="col-lg-12">
        <div class="card table">
          <div class="card-header">
            <h4>Blog</h4>
          </div>
            <button type="button" class="btn btn-primary m-3 text-white fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Ajouter Blog</button>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-md-4"  *ngFor="let contenu of contenus">
                <div class="carte p-3 shadow" id="all">
                    <div class="imgCarte mb-3">
                        <img src="http://localhost:8000/images/{{contenu.image}}" class="card-img-top" style=" max-height: 150px; min-height: 150px;" alt="...">
                    </div>
                    <div class="p-0">
                        <h5 class="text-center carteTitre fw-bold">{{contenu.titre}}</h5>
                        <p class="text-justify text-dark">
                          {{contenu.texte}}
                        </p>
                        <div class="detail d-flex">
                            <button class="btn w-100" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="getDetailContenue(contenu)">
                              Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>

    </div>
  </main>
</div>


<!-- Modal Ajout-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajout blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contenuForm" (ngSubmit)="submitForm()" >
          <div class="form-group">
            <label for="exampleInputEmail1">Titre</label>
            <input type="text" class="form-control" id="titre" formControlName="titre" aria-describedby="emailHelp" placeholder="Entrer un titre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="description" rows="3" formControlName="texte" ></textarea>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control"(change)="onchange($event)" type="file" id="image"  formControlName="image" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal detail -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://localhost:8000/images/{{selectedContenuId.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{selectedContenuId.titre}}</h5>
                <p class="card-text text-dark">{{selectedContenuId.texte}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary text-white" (click)="SupprimerContenue(selectedContenuId.id ?? -1)">Supprimer</button>
            <button type="button" class="btn btn-primary text-white" (click)=" chargerInfoContenu(selectedContenuId)" data-bs-toggle="modal" data-bs-target="#modificationModal">Modifier</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal Modification-->
<div class="modal fade" id="modificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contenuForm" (ngSubmit)="ModifierContenu()" >
          <div class="form-group">
            <label for="exampleInputEmail1">Titre</label>
            <input type="text" class="form-control" id="titre" formControlName="titre" aria-describedby="emailHelp" placeholder="Entrer un titre" [(ngModel)]="titre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="description" rows="3" formControlName="texte" [(ngModel)]="texte"></textarea>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control"(change)="onchange($event)" type="file" id="image"  formControlName="image" [(ngModel)]="image">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="ModifierContenu()">Modifier</button>
      </div>
    </div>
  </div>
</div>
