<!-- sidebar debut -->


<div class="sidebar">
  <div class="sidebar-brand">
    <img src="../../../assets/img/Logo2.png" alt="">
  </div>

    <div class="sidebar-menu">
      <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>

      <ul>
        <li>
          <a  class="switch" [routerLink]="['/dashboard']">
            <span class="fas fa-tachometer-alt"></span>
            <span>Tableau de board</span>
          </a>
        </li>
        <li>
          <a   class="active" >
            <span class="fas fa-users" ></span>
            <span>Listes patientes</span>
          </a>
        </li>
        <!-- <li>
          <a  class="active">
            <span class="fas fa-book-reader"  [routerLink]="['/gestionContenuAdmin']"></span>
            <span>Ressources</span>
          </a>
        </li> -->
        <li>
          <a class="switch" [routerLink]="['/gestionContenuAdmin']" >
            <span><i class="fas fa-comments"></i></span>
            <span>Gestion Contenu</span>
          </a>
        </li>
        <li>
          <a   [routerLink]="['/ajoutPersoAdmin']">
            <span><i class="fas fa-user-plus" ></i></span>
            <span>Gestion Personnel</span>
          </a>
        </li>
        <div class="logout mt-5">
          <a (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Deconnexion
        </a>
        </div>

      </ul>

    </div>
</div>

<!-- sidebar Fin -->

<!-- contenuDash debut -->

<div class="main-content">
  <header class="headDash">
    <!-- <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      Dashboard
    </h2> -->

    <!-- <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />

    </div> -->
    <div class="fa-bell">
      <i class="fa-solid fa-bell"></i>
    </div>

    <div class="user-wrapper">
     <img src="/src/assets/imgs/customer01.jpg" width="40px" height="40px" alt="profile-img">
     <div class="">
        <h5>Admin</h5>
     </div>
    </div>
  </header>

  <main>


    <div class="recent-grid">
      <div class="col-lg-12">
        <div class="card table text-dark">
          <div class="card-header">
            <h4>Liste Patientes</h4>
          </div>

          <!-- listes des patientes debut-->
<table datatable [dtOptions]="dtOptions" class="row-border hover table" id="DataTabl" *ngIf="allDossierMedical.length > 0">
  <thead>
    <tr>
      <th>Id </th>
      <th>Nom</th>
      <th>Email</th>
      <th>Telephone</th>
      <!-- <th>Statut_compte</th> -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allDossierMedical">
      <td> {{item.id}} </td>
      <td>{{item.nom}}</td>
      <td>{{item.email}}</td>
      <td>{{item.telephone}}</td>

      <!-- <td>{{item.statut_compte == 0 ? "Inactif" : "Actif"}}</td> -->
      <td><i class="far fa-eye" (click)="getDossierMedical(item.id)" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#DossierMedical"></i></td>
    </tr>
  </tbody>
</table>
<table datatable [dtOptions]="dtOptions" class="row-border hover table" id="DataTabl" *ngIf="allDossierMedical.length < 0">
  <thead>
    <tr>
      <th>Id </th>
      <th>Nom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Role</th>
      <!-- <th>Statut_compte</th> -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="6">Aucun patient disponible</td>
    </tr>
  </tbody>
</table>

<!-- listes des patientes  fin-->
          <!-- tableau datatable fin -->
        </div>

      </div>

            </div>


    </main>
  </div>
<!-- contenuDash FIN -->
<!-- popup pour deconnexion debut -->
<!-- popup pour deconnexion  fin -->



<div class="modal fade" id="DossierMedical" tabindex="-1" aria-labelledby="DossierMedicalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DossierMedicalLabel">Dossier Medical</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-between text-dark"  *ngIf="dossierMedicalPatient">
      <div class="infPatiente">
        <p>Nom: {{ dossierMedicalPatient.nom}} </p>
        <p>Email: {{ dossierMedicalPatient.email}} </p>
        <p>Telephone: {{ dossierMedicalPatient.telephone}} </p>
        <p>Role: {{ dossierMedicalPatient.role}} </p>
        <p>Age: {{ dossierMedicalPatient.age}} </p>
        <p>Statut: {{ dossierMedicalPatient.statut}} </p>
        <p *ngIf="priseEnChargePar">Pris en charge par:  {{ this.priseEnChargePar.user.structure}}</p>

      </div>
      <div class="infDossierMedical">
        <p>numero_Identification:  {{ dossierMedicalPatient.numero_Identification}}</p>
        <p>Poste avortement:  {{ dossierMedicalPatient.post_avortement}}</p>
        <p>Poste partum:  {{ dossierMedicalPatient.post_partum}}</p>
        <p>Methode en cours:  {{ dossierMedicalPatient.methode_en_cours}}</p>
        <p>Methode choisie:  {{ dossierMedicalPatient.methode_choisie}}</p>
        <p>Effet indesirables:  {{ dossierMedicalPatient.effets_indesirables}}</p>
        <p>Raison de la visite:  {{ dossierMedicalPatient.raison_de_la_visite}}</p>
        <p>Observations/ Antecedents:  {{ dossierMedicalPatient.observation}}</p>
        <p>indications:  {{ dossierMedicalPatient.indication}}</p>
        <p>Date de RV:  {{ dossierMedicalPatient.date_visite}}</p>
        <p>Prochain RV:  {{ dossierMedicalPatient.date_prochain_rv}}</p>
        <p *ngIf="priseEnChargePar">Pris en charge par:  {{ this.priseEnChargePar.user.nom}}</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Imprimer</button>
      </div>
    </div>
  </div>
</div>
